<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rpc="http://see.com/projects/sdk/see-rpc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://see.com/projects/sdk/see-rpc
		http://see.com/projects/sdk/see-rpc/see-rpc.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.seebon.rpc.services.system"/>

    <context:property-placeholder location="classpath:config.properties"/>

    <rpc:scan hosts="${address}" scope="${scope}" />

</beans>